body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', 'ShlomoSemiStam',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

@font-face {
  font-family:'ShlomoSemiStam';
  src: local('ShlomoSemiStam'),
    url('./fonts/ShlomoSemiStam.ttf') format('truetype');
}

.bigger {
  color:black;
  float:left;
  /* border:4px solid blue; */
  width:97%;
  padding:2%;
}


.TopLevel{
  padding: 2%;
}

.menu {
   font-family: sans-serif;
   font-size: 1.2em;
   display: inline-block;
   border:1px solid maroon;
   width:20%;
   margin:1%;
   margin-top:4%;
   padding:1%;
   max-width: 9%;
   text-align: center;
}

.HomeLeft {
  font-size: .8em;
  font-weight: normal;
  color:maroon;
  padding:3%;
  vertical-align: top;
}

.HomeRight {
  font-size: 1.2em;
  font-weight: normal;
  color:blue;
  padding:3%;
}

.floatRight{
    font-size: 1.4em;
    float:right;
    display: inline;
    margin-left:5%;
}

.PickLine {
  max-width: 70%;
  font-size:1,1em;
  font-family: serif;
  color:maroon;
  width:100%;
}

.PicturePick {
  min-width: 464px;
  min-height: 613px;
  width:365px;
  height:auto;
  opacity:.8;
  display: inline-block;
}

.Picture {
  width:365px;
  height:auto;
  opacity:.8;
  display: inline-block;
  float:left;
}


/* Beginning Pasukim Form fields */

.formTable {
  margin:1%;
  /* margin-top:1%; */
  margin-bottom: 0%;
  margin-left:3%;
  border:none;
  color:white;
  background-color: maroon;
  /* border:4px solid black; */
  padding:4px;
  float:left;
}

.formInput{
  width:30%;
  color:white;
  background-color: maroon;
}

/* pesukim */
.PasukPage {
    position: absolute;
    top:25%;
    left:2%;
    width:94%;
    margin:3%;
    border:1px solid maroon;
}

.PerushSideTable {
    /* width:100%;
    height:100%; */
    /* border:7px solid blue;
    background-color: pink; */
}

.heChapter {
  border:4px solid maroon;
  margin:2%;
  margin-top:0%;
  background-color: tan;
  width: 45%;
  align:right;
  vertical-align: top;
  float:right;
}

.pasukim {
  text-align: right;
  font-size: 1.3em;
  list-style: none;
  margin:5%;
  font-family:ShlomoSemiStam;
}

.pasukimred {
  text-align: right;
  font-size: 1.3em;
  list-style: none;
  margin:5%;
  color:maroon;
  font-family:ShlomoSemiStam;
}

/* perush side */
.PerushHe {
  text-align: right;
  color:black;
  font-family:sans-serif;
  font-size: .8em;
  margin:5px;
  /* float:left; */
  display: block;
}

.PerushName {
  text-align: left;
  color:maroon;
  font-weight: bold;
  text-decoration-style:solid;
  text-decoration-line:underline;
  margin-bottom: 2px;
  float:left;
}

.PerushSideTable {
  /* float:left; */
  text-align: right;
  max-width:98%;
  vertical-align: top;
}

.PesukimSideTable {
  float:right;
  width:90%;
  vertical-align: top;
}

.Perushim {
  /* border:2px solid red; */
}


.PerushNotes {
    width:96%;
    /* margin:0%;
    padding:0%;
    float:left; */
    /* display:none; */
    /* vertical-align: top; */
}

.PerushNote {
    margin:2%;
    padding:2%;
    float:left;
    color:maroon;
    font-size:1.2em;
    font-style:italic;
    text-align: left;
    width:100%;
}

.Author {
  color:maroon;
  font-size:1em;
  font-style:oblique;
  text-align: left;
}

.PerushAuthor {
  color:maroon;
  font-size:1em;
  font-style:oblique;
  text-align: left;
  width: 98%;
}

.CommentaryList {
  display:inline-block;
  width:100%;
  float:left;
  /* min-width: 30%; */
}

.Commentary {
  /* list-style: none; */
  /* border:2px solid tan; */
  /* width:90%; */
  margin:1%;
  margin-left:0px;
  font-size:1.4em;
  color:maroon;
  padding:1%;
  /* padding-left:0%; */
  text-align: right;
  /* float:left; */
  display: inline;
}

.Sefer {
  font-size:.7em;
}
/* adding articles */


.AuthorName {
  width:20%;
  color:maroon;
  padding:1%;
  font-size: 1.2em;
}

.ArticleName {
  color:maroon;
  font-size: 1.0em;
}

.ArticleNameblue {
  color:blue;
  font-size: 1.0em;
}

.ArticleNamered {
  color:red;
  font-size: 1.0em;
}

.ArticlePage {
  margin: 5%;
}

.ArticleEntry {
  max-width: 80%;
  color:maroon;
  /* padding:1%; */
  font-size: 1.1em;
  border:1px dotted maroon;
}

.PubName, .AuthorName{
  display:none;
}

.PubBox {
  width:85%;
  margin:10%;
  border:2px solid maroon;
  font-size:.8em;
}

.hover {
  position:absolute;
  border:2px solid yellow;
  font-family: serif;
  font-size:1em;
  font-weight: normal;
  top:10%;
  left:60%;
}

.showText {
  width:95%;
  font-size:1em;
  font-family: cursive;
  font-weight: normal;
  background-color: tan;
  border:4px solid maroon;
  padding:1%;
}

.Wrapper{
  width:80%;
  font-size:2em;
  font-family: serif;
  margin:5%;
  padding:2%;
  padding-top:5%;
  color:maroon;
  vertical-align:top;
}

.embedPDF {
}
